[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "dependencies/optimize-cuda-memory-usage-v1"]
	path = dependencies/optimize-cuda-memory-usage-v1
	url = https://github.com/neozhang307/FRUGAL-base.git
